.container {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 50px 30px 50px;
}

.image img {
    border-radius: 50px;
    box-shadow: 10px 5px 5px #868686;;
    transition: all 0.3s ease-out;
}

.image img:hover {
    transition: all 0.2s ease-out;
    box-shadow: 5px 2.5px 2.5px #868686;;
}


.aboytUs {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 170px;
}

.button {
    margin-top: 50px;
}

.button a {
    border-bottom: none;
    font-size: 30px;
    padding: 15px 60px 15px 60px;
    background-color: rgb(67, 118, 108);
    color: white;
    transition: all 1s ease-out;
}

.button a:hover {
    transition: all 1s ease-out;

    border-radius: 25px;

    border-bottom: none;
}


.text {
    width: 500px;
}

.aboytUs {
    margin-bottom: 140px;
}